In [1]:
import numpy as np

In [2]:
import pandas as pd

In [5]:
labels = ['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)
d= {'a':10,'b':20,'c':30}

In [10]:
pd.Series(my_data,labels)

a    10
b    20
c    30
dtype: int64

In [11]:
# numpy arr and python list work same when passed in Series
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [13]:
# pandas series can hold diff type of data tupes like here we've strings
pd.Series(data=labels)
# we can also pass built in function in series and we cant do this with numpy arr
pd.Series (data=[sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [17]:
# series main concept is based on indexes
s1 = pd.Series([1,2,3,4],['pak','china','nepal','bang'])
s1

pak      1
china    2
nepal    3
bang     4
dtype: int64

In [22]:
s2=pd.Series([1,2,6,4],['pak','china','maldives','bang'])
s2

pak         1
china       2
maldives    6
bang        4
dtype: int64

In [18]:
s2['pak'] 
# index lake dedge

pak    1
dtype: int64

In [19]:
s3 = pd.Series(labels)
s3

0    a
1    b
2    c
dtype: object

In [23]:
# ab yhan 2 series ko add krwaunga or same indexes wali values pe 
# operation lagaega or jhan ni huga wha NAn
s1+s2
# result float ma milta to avoid data loss

bang        8.0
china       4.0
maldives    NaN
nepal       NaN
pak         2.0
dtype: float64